<div class="hero-unit">
  <h1>Radar</h1>
    </a>
    <br><br>
    <h2>Upgrade your social calendar.</h2>
    <p class='homeText'>
    Native iOS app written in Javascript, wrapped with the Phonegap API and utilizing AngularJS and Hammer.js for mobile navigation. Location-based event discovery app where each event pins to a geolocation.
    </p>
    <br>
    <br>
  <a href="https://github.com/meamstack" class='homeLinks'>Find our code on GitHub</a>
            
  <a href='#/about' class='homeLinks'>About</a>
</div>
